In [1]:
# add dependencies
import pandas as pd
import os
from datetime import date

from sqlalchemy import create_engine
from sqlalchemy.orm import Session
from sqlalchemy.ext.declarative import declarative_base
Base = declarative_base()

from sqlalchemy import Column, Integer, String, Float, Date, and_

# PyMySQL 
import pymysql
pymysql.install_as_MySQLdb()

In [2]:
# create the measurement class
class Measurement(Base):
    __tablename__ = 'Measurements'
    id = Column(Integer, primary_key=True)
    station = Column(String(255))
    date = Column(Date)
    prcp = Column(Float)
    tobs = Column(Integer)
    
# create the station class
class Station(Base):
    __tablename__ = 'Stations'
    id = Column(Integer, primary_key=True)
    station = Column(String(255))
    name = Column(String(255))
    latitude = Column(Float)
    longitude = Column(Float)
    elevation = Column(Float)
    location = Column(String(255))

In [3]:
# create the datbase and add the classes
engine = create_engine("sqlite:///hawaii.sqlite")
conn = engine.connect()
Base.metadata.create_all(conn)

session = Session(bind=engine)

In [4]:
# import station files to dataframe
station_file = "clean_hawaii_stations.csv"
station_path = os.path.join('Resources\data', station_file)

station_df = pd.read_csv(station_path)

# import measurement files to dataframe
msre_file = "clean_hawaii_measurements.csv"
msre_path = os.path.join('Resources\data', msre_file)

msre_df = pd.read_csv(msre_path)

In [5]:
# send the station dataframe to the sqlite database
station_df.to_sql('Stations', engine, index = False, if_exists='append')

# check to make sure the data successfully entered
df = pd.read_sql_query('SELECT * FROM Stations LIMIT 3', engine)
df.head()

,id,station,name,latitude,longitude,elevation,location
0,1,USC00519397,"WAIKIKI 717.2, HI US",21.2716,-157.8168,3.0,POINT(21.2716 -157.8168)
1,2,USC00513117,"KANEOHE 838.1, HI US",21.4234,-157.8015,14.6,POINT(21.4234 -157.8015)
2,3,USC00514830,"KUALOA RANCH HEADQUARTERS 886.9, HI US",21.5213,-157.8374,7.0,POINT(21.5213 -157.8374)

In [6]:
# send the measurements datafram to the sqlite database
msre_df.to_sql('Measurements', engine, index = False, if_exists='append')

# check to make sure the data successfully entered
df = pd.read_sql_query('SELECT * FROM Measurements LIMIT 3', engine)
df.head()

   id      station        date  prcp  tobs
0   1  USC00519397  2010-01-01  0.08    65
1   2  USC00519397  2010-01-02  0.00    63
2   3  USC00519397  2010-01-03  0.00    74